[Unit]
Description=Backup Confluence data using Atlassian Cloud Backuper

[Timer]
OnCalendar=Mon,Wed,Fri,Sun *-*-* 09:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
