[Unit]
Description=Backup Jira data using Atlassian Cloud Backuper

[Timer]
OnCalendar=Mon,Wed,Fri,Sun *-*-* 03:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
