[Unit]
Description=Backup Jira data using Atlassian Cloud Backuper

[Service]
Type=oneshot
ExecStart=/usr/bin/atlassian-cloud-backuper jira

[Install]
WantedBy=multi-user.target
