[Unit]
Description=Backup Confluence data using Atlassian Cloud Backuper

[Service]
Type=oneshot
ExecStart=/usr/bin/atlassian-cloud-backuper confluence

[Install]
WantedBy=multi-user.target
